.flex-container {
  margin: 20px;
  display: flex;
  border: 5px solid red;
  flex-direction: row;
  height: 500px;
  width: 1000px;
}

.l-box {
  border: 4px solid darkgray;
  width: 300px;
  margin: 10px;
  background-color: bisque;
}

.r-box {
  width: 600px;
  margin: 10px;
  display: flex;
  flex: 2;
  flex-direction: column;
}

.r-box1 {
  margin: 10px;
  display: flex;
  height: 150px;
  flex-direction: row;
}

.top-box {
  margin: 10px;
  display: flex;
  border: 2px solid red;
  flex: 1;
  background-color: blue;
}

.middle-box {
  margin: 10px;
  display: flex;
  flex-direction: row;
  border: 2px solid lightslategrey;
  flex: 1;
  background-color: aqua;
}

.bottom-box {
  margin: 10px;
  border: 2px solid lightslategrey;
  flex: 1;
  background-color: blueviolet;
}

li {
  color: darkblue;
  list-style: none;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 150px;
  border: 2px solid blue;
  border-radius: 8px;
  font-family: cursive;
}

@media screen and (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }
}
